* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(120deg, #76f665, #f2c5b9);
    font-family: "Roboto Mono", sans-serif;
    min-height: 100vh;
}

header {
    font-size: 1.5rem;
}

header, form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}